body {
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh", Sans;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.attribution {
    padding-top: 30px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.bg{
    position: absolute;
}
.bg-top {
   top: -320px;
   left: -100px;
   z-index: -1;
}
.bg-bottom {
    right: -100px;
    bottom: -520px;
    z-index: -1;
}
.user {
    max-width: 400px;
    margin: auto;
    padding-top: 15%;
    height: fit-content;
    text-align: center;
}
.user-whole {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -10px;
    height: fit-content;
    background-color: white;
}
.user-card-pattern {
    width: 400px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.user-dp {
    width: 120px;
    padding: 4px;
    border-radius: 96px;
    background-color: white;
    margin-top: -30px; 
}
.user-bio{
    margin: 30px;
}
.username,
.stat {
    font-size: 18px;
    font-weight: 700;
}
.user-stats {
    justify-content: center;
    display: flex;
}
.stats-followers,
.stats-likes,
.stats-photos {
    margin: 30px;
}

/* media query */
@media(max-width:375px) {
    .bg-top {
        top: -500px;
        left: -772px;  
    }
    .bg-bottom {
       right: -753px;
       bottom:-572px;
    }
    .user-card-pattern {
        width: 300px;
        margin: auto;
    }
    .user {
        width: 300px;
        margin-top: 20%;  
    }
    .user-bio{
        margin: 20px;
    }

}